@model CRUD_PRODUCTOSMVC.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de eliminar este item?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caracteristicas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caracteristicas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
        <h1></h1>
        <h1></h1>
    </form>
</div>
